RewriteEngine On

Options +FollowSymLinks

Options +Indexes
IndexOptions FancyIndexing FoldersFirst IgnoreCase VersionSort SuppressDescription
IndexIgnore *.checked *.log *.old *.sh *.txt *.version config Makefile

AddDefaultCharset UTF-8
AddCharset        UTF-8      .checked .dsc .log .md .old .sh .txt .version
AddType           text/plain .checked .dsc .log .md .old .sh .txt .version
